/* * {
    outline: 1px solid red;
} */

body {
    background: url("basketballbg1.jpg");
}

#main-wrapper {
    background-color: rgba(49, 47, 45, 0.918);
    margin-top: 50px;
    position: relative;
}

#startBtn {
    padding: 10px 50px;
    font-size: 25px;
    margin: 25% auto;
}

h1 {
    font-size: 55px;
    color: orange;
}

#timer {
    font-size: 35px;
    color: rgba(115, 236, 45, 0.952);
    font-weight: bolder;
    margin: 3% auto;
}

#questionsDiv {
    color: white;
    margin-top: 25px;
}

label {
    margin-left: 15px;
    font-size: 25px;
}

.question {
    font-size: 35px;
    margin-bottom: 10px;
    color: orange;
}

#submitBtn {
    margin: 1% auto;
    padding: 5px 30px;

}

#restartBtn {
    margin: 2% auto;
    padding: 5px 40px;
}